@import 'colors';

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
}

/* Buttons */
button {
  font-family: 'Open Sans', sans-serif;
  font-size: 1.1em;
  padding: 0.5em 1em;
  border: 0;
  color: #333333;
  background: #eaeaea;
  transition: 0.3s;
  border-radius: 0.25rem;
  
  &:hover {
    background: #cacaca;
    cursor: pointer;
    transition: 0.3s;
  }

  i {
    border-radius: 0.25rem;
  }   
}

  .button-add, .button-save {
    border: 0;
    padding: 0.5em 1em 0.5em 1em;
    background: $primary-green;
    color: #ffffff;
    text-shadow: 1px 1px $primary-green-darker;
    transition: 0.2s;
    font-size: 1em;
  }
  
  .button-add {
    padding-left: 2.5em;
    align-self: start;
  }
  
  .button-add:hover, .button-save:hover {
    background: $primary-green-darker;
    cursor: pointer;
    transition: 0.2s;
  }
  
  .button-add::before {
    content: "+";
    font-size: 2em;
    display: inline-block;
    position: absolute;
    margin-top: -0.33em;
    margin-left: -1em;
  }

a.button-add {
  text-decoration: none;
  display: block;
  border-radius: 0.25rem;
}
  
  .input-group {
      display: table;
  }
  
  .input-row {
    display: table-row;
  }
  
  .input-field {
      display: table-cell;
      padding: 0.5em;
  }
  
  .input-field:first-child {
      width: 25%;
      text-align: right;
  }
  
  .input-field input[type=text] {
      color: #333;
      background: #eaeaea;
      border-top: 0;
      border-right: 0;
      border-bottom: 2px solid #dadada;
      border-left: 0;
      font-size: 1.1em;
      padding: 0.2em;
      transition: 0.3s;
  }
  
  .input-field input[type=text]:focus {
      outline: 0;
      border-bottom: 2px solid #9b6ba7;
      transition: 0.3s;
  }
  
  .input-buttons {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .input-buttons button {
    margin: 0 1em;
  }
  
  .edit-toggle {
      border: 0;
      background: transparent;
      margin-left: 0.5em;
    }
  
  .edit-toggle:hover {
      cursor: pointer;
      background: #eaeaea;
  }
  
  .overview-header {
    justify-content: space-between;
    display: flex;
  }
  
  .main input[type=text], .main input[type=number], .main select {
    font-family: 'Open Sans', sans-serif;
    color: #333;
    background: #eaeaea;
    border-top: 0;
    border-right: 0;
    border-bottom: 2px solid #dadada;
    border-left: 0;
    font-size: 1.1em;
    padding: 0.2em;
    border-radius: 2px;
    transition: 0.3s;
  }
  
  .main input[type=text]:focus, .main input[type=number]:focus, .main select:focus {
    outline: 0;
    border-bottom: 2px solid #9b6ba7;
    transition: 0.3s;
  }

  .main select option {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    padding: 1em 0.2em;
  }

  .main select option:nth-child(2n) {
    background-color: $white;
  }
  
  .button-confirm i {
    color: $primary-green-darker;
  }
  
  .button-dismiss {
    i {
      color: $danger-red;
    }

    &:hover {
      color: #eaeaea;
      background: $danger-red;

      i {
        color: #eaeaea;
        transition: 0.3s;
      }
    }
  }
  
  .button-confirm:hover {
    color: #eaeaea;
    background: $primary-green-darker;
  }

  
  .button-confirm:hover i {
    color: #eaeaea;
    transition: 0.3s;
  }
  
section.detail-form {
  ul {
    padding-left: 0em;
    li {
      list-style-type: none;
      display: flex;
      flex-direction: row;
      justify-content: stretch;
      align-items: stretch;
      gap: 1em;
      margin: 0.5em 0;

      input[type=radio] {
        border: 0px;
        width: 1.5em;
        height: 1.5em;
      }
      >span {
        position: relative;
        top: 1.5em;
      }
      label, div {
        flex-grow: 1;
        span {
          display: block;
        }
        
        span.inline {
          display: inline;
        }

        input[type=text] {
          display: block;
          width: 100%;
        }

        input[type=checkbox] {
          display: inline;
          width: auto;
        }

        input[type=number] {
          display: block;
          width: 3em;
        }

        select {
          display: block;
          width: 100%;
        }
        
        .w-auto {
          width: auto;
        }
      }

      label.inline, div.inline {
        span {
          display: inline-block;
        }

        input[type=text] {
          display: inline-block;
        }

        input[type=number] {
          width: 3em;
          display: inline-block;
          margin: 0 0.2em;
        }

        select {
          display: inline-block;
          width: auto;
          margin: 0 0.2em;
        }
      }

      @for $i from 0 through 10 {
        label.grow-#{$i}, div.grow-#{$i} {
          flex-grow: $i;
        }
      }

    }
  }
}